<h1>Consoles#index</h1>
<p>Find me in app/views/consoles/index.html.erb</p>

<ul>
  <% @consoles.each do |console| %>
    <li>
      <%= link_to console.name, console_path(console) %>
    </li>
  <% end %>
</ul>
